.primary{
    color: #186a3b;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.intro-block .row{
    align-items: center;
}
.avatar{
    width: 20%;
}

.avatar img{
    width: 90%;
    border-radius: 50%;
}

.content{
    width: 80%;
}

.contact-me ul{
    list-style: none;
    padding: 0;
}
.contact-me>ul li{
    display: inline;
    padding: 0 5px;
}

.contact-me a {
    text-decoration: none;
}

.secondary {
    color: #AAA;
}

.title {
    font-size: 24px;
}

.intro-block{
    background-color: #F2E6E6;
}

.experience-block{
    background-color:#F3F3FA;
}

.education-item .logo img {
    width: 60px;
    height: 60px;
    margin-left: 120px;
}

.education-item {
    display: flex;
    align-items: center;
}

.education-item>ul li{
    margin-right: 100px;
    list-style: none;
    padding: 0px;
    display: inline;
}
